// info

extends ./layout.jade

block nav
  li
    a(href='/') Home
  li
    a(href='/info') Info
  include ./_artists.jade
  li
    a(href='https://www.facebook.com/events/1057019467647590/') Facebook

block inner
  h1.cover-heading
    | #{pieces[artist]['title']}
  .piece
    dl
      if artist
        dt Artist:
        dd #{pieces[artist]['artist']}
      if year
        dt Year:
        dd #{pieces[artist]['year']}
      if media
        dt Media:
        dd !{pieces[artist]['media']}
      if statement
        dt Statement:
        dd !{pieces[artist]['statement']}
