// info

extends ./layout.jade

block nav
  li
    a(href='/') Home
  li
    a(href='/info') Info
  include ./_artists.jade
  li
    a(href='https://www.facebook.com/events/1057019467647590/') Facebook

block inner
  if pieces[artist]['image']
    img.img-responsive(src=pieces[artist]['image'])
  h1.cover-heading
    | #{pieces[artist]['title']}
  .piece
    dl
      if pieces[artist]['artist']
        dt Artist:
        dd #{pieces[artist]['artist']}
      if pieces[artist]['year']
        dt Year:
        dd #{pieces[artist]['year']}
      if pieces[artist]['media']
        dt Media:
        dd !{pieces[artist]['media']}
      if pieces[artist]['statement']
        dt Statement:
        dd !{pieces[artist]['statement']}
